@use '../../styles/shadow.scss';
.articles-item {
  padding: 1em 1.2em;
  margin-top: 0.5em;
  background-color: rgba(255, 255, 255);
  box-shadow: shadow.$box-shadows;

  & > div:first-child > div:first-child {
    align-items: flex-start;
  }

  .articles-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;

    p {
      word-wrap: break-word;
    }
  }

  .buttons {
    display: none;
    padding-left: 1em;
    div:first-child {
      button {
        border-color: red;
        span {
          color: red;
        }
      }
    }

    div:last-child {
      button {
        border-color: #99a63c;
        span {
          color: #99a63c;
        }
      }
    }
  }

  &__title {
    color: #66add9;
    font-size: 20px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;

    .tag {
      background-color: white;
      border-color: #112430;
      border-radius: 0;
      border-radius: 2px;

      & > a {
        color: #39454e;
      }
    }
  }

  &__content {
    max-width: 80%;
    margin: 0;
  }

  .person-info {
    display: flex;
    align-items: center;

    &__description {
      margin-right: 9px;

      & > div:first-child {
        font-size: 18px;
      }

      & > div:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }

    &__avatar {
    }
  }
}
