.loginFormContainer {
  composes: formContainer from '../../styles/form.scss';
}
.loginFormInner {
  composes: formMain from '../../styles/form.scss';

  .loginForm {
    .loginFormInput {
      padding: 0.5em;
      min-width: 260px;
    }

    .loginFormButton {
      display: block;
      width: 100%;
      margin-bottom: 1em;
      span {
        color: white;
      }
    }
  }
}
