.nav{


.nav-content {
	padding: 1em;

	.nav-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		

		& > a {
			color: black;
		}

		& > a:first-child {
			flex-grow: 1;
		}

		& > a:nth-child(2) {
			margin-right: 1em;
		}

		& > a:last-child {
			border: 1px solid rgba(82, 196, 26, 1);
			color:rgba(82, 196, 26, 1) ;
			border-radius: 5px;
			padding: .5em .7em ;
		}

	}
}
}