.registerFormContainer {
  composes: formContainer from '../../styles/form.scss';
}

.registerFormMain {
  composes: formMain from '../../styles/form.scss';
  text-align: center;

  .registerForm {
    padding-top: 1em;

    .registerFormButton {
      width: 100%;
      margin-top: 1em;
      margin-bottom: 1em;

      span {
        color: white;
      }
    }

    .registerFormInput {
      padding: 0.7em;
      margin-bottom: 0.5em;
    }
  }
}
