.registerForm-container {
	composes: form-container from '../../styles/form.scss';
}

  .registerForm-main {
	composes: form-main from '../../styles/form.scss';
	text-align: center;

    .registerForm {
      padding-top: 1em;

      &__button {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;

        span {
          color: white;
        }
      }

      &__input {
        padding: 0.7em;
        margin-bottom: 0.5em;
      }
    }
  }

