@use '../../styles/shadow.scss';

.articleDetails,
.articleDetailsHidden {
  width: 80%;
  margin: 0 auto;
  margin-top: 1.5em;
  padding: 1.5em;
  box-shadow: shadow.$box-shadows;
  box-sizing: border-box;
  position: relative;
  [class~='ant-card'] {
    box-shadow: none;
  }

  background-color: white;

  & > div:first-child > div:last-child > div > div {
    display: flex;
  }

  & > div:first-child {
    padding: 0;
    filter: none;

    p {
      color: rgba(0, 0, 0, 0.5);
      min-height: 0;
      max-width: 75%;
    }
  }

  .articleBody {
    p,
    h2,
    h1,
    li {
      color: rgba(0, 0, 0, 0.75);
      word-wrap: break-word;
    }
  }
}

.spinner {
  width: 100%;
  margin-top: 5em;
}

.articleDetailsHidden {
  & > div:first-child > div:last-child > div > div {
    display: none;
  }
}
