 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&display=swap');

*{
	font-family: 'Inter', sans-serif; 
}
a {
	text-decoration: none;
}

body {
	max-width: 1330px;
	margin: 0 auto;
}